{% extends "templates/base.html" %}
{% block content %}
  <h1 style="margin-left:38%;">Expensive</h1>
  <p style="font-size:25px; margin-top:25px">Expensive is a free online budget planner. This app brings all of your financial data together, showing you an overview of your budget, spending, bills, and credit score. You can create your own budget. Security is enhanced by encryption.</p>
  <p style="font-size:25px; margin-top:25px">This project was done by Luka Orlovic for the purposes of the master's degree course "Software Engineering Tools and Methodology" at the Faculty of organizational sciences.</p>
{% endblock %}
