<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to expensive</title>
    <link rel="icon" href="/img/dollarIcon.ico">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/js/utility.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" style="font-size: x-large;margin-top: -4px;">expensive</a>
        </div>
        <div class="navbar-collapse collapse ">
          <ul class="nav navbar-nav">
            {% if not is-authed? %}
            <li class="{{home-selected}}"><a href="{{servlet-context}}/" style="font-weight: bold;font-size: larger;">Login</a></li>
            {% endif %}
            <li class="{{about-selected}}"><a href="{{servlet-context}}/about" style="font-weight: bold;font-size: larger;">About</a></li>
            <li class="{{receipt-selected}}" id="all-receipts"><a href="{{servlet-context}}/receipt/all-receipts" style="font-weight: bold;font-size: larger;">All receipts</a></li>
            <li class="{{insertreceipt-selected}}" id="insert-receipt"><a href="{{servlet-context}}/receipt/insert-receipt" style="font-weight: bold;font-size: larger;">Insert receipt</a></li>
            <li class="{{allstatements-selected}}" id="all-statements"><a href="{{servlet-context}}/statement/all-statements" style="font-weight: bold;font-size: larger;">All my statements</a></li>
            <li class="{{allstatements-selected}}" id="view-statements"><a href="{{servlet-context}}/statement/view-statements" style="font-weight: bold;font-size: larger;">Choose statements period</a></li>
            {% if is-authed? %}
            <li class="{{home-not-selected}}"><a href="{{servlet-context}}/logout" style="font-weight: bold;font-size: larger;">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var context = "{{servlet-context}}";
      var selectedTab = function(){
        var selectedTab = window.location.href;
        if(selectedTab.includes('receipt/all-receipts')) document.getElementById('all-receipts').classList.add('active');
        if(selectedTab.includes('receipt/insert-receipt')) document.getElementById('insert-receipt').classList.add('active');
        if(selectedTab.includes('statement/all-statements')){
          document.getElementById('all-statements').classList.add('active');
          document.getElementById('plot').classList.remove('active');
        };
        if(selectedTab.includes('statement/view-statements')){
          document.getElementById('view-statements').classList.add('active');
        };
      }();
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

