{% extends "templates/base.html" %}
{% block content %}
    <div id="tester" style="width:1100px;height:450px;"></div>
    <script>
	    TESTER = document.getElementById('tester');
	    var scrambledStatements = getCookie('statement');
	    var statements = JSON.parse(scrambledStatements);
	    var months = [];
	    var amounts = [];
	    statements.forEach(function(s){
	        months.push(s.month);
	        amounts.push(s.amount);
	    });
	    Plotly.plot( TESTER, [{
	        x: months,
	        y: amounts }], layout );
    </script>
{% endblock %}