html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.errors {
    padding-left: 30px;
    color: red;
}

.modebar-container {
    display: none;
}