{% extends "templates/base.html" %}
{% block content %}
<h1 style="margin-left:40%;">All receipts:</h1>
<table>
    <thead>
    <tr>
        <th>Receipt ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>User ID</th>
        <th>Delete receipt</th>
        <th>Update receipt</th>
    </tr>
    </thead>
    <tbody>
    {% for r in receipts %}
    <tr>
        <td><a href="/receipt/get/{{r.receiptid}}">{{r.receiptid}}</a></td>
        <td><strong>{{ r.amount }}</strong></td>
        <td>{{ r.date }}</td>
        <td>{{ r.user_id }}</td>
        <td><a href="/receipt/delete/{{r.receiptid}}"><div>DELETE</div></a></td>
        <td><a href="/receipt/update/{{r.receiptid}}"><div>UPDATE</div></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
